<div th:fragment = "giuseppeITA" th:if="${session.Language == 'Italian'}">
    <h1>Chi sono</h1>
    <p>Informazioni su me stesso che non sono progetti o istruzione</p>

    <div class="Interests">
        <h2>Interessi</h2>
        <ul>
            <li>Allenamento BJJ(Brazilian Jiu Jitsu)</li>
            <li>Volontariato</li>
            <li>Viaggiare</li>
            <li>Escursionismo</li>
        </ul>
    </div>

    <div class="Volunteering">
        <h1>Esperienze di Volontariato</h1>

        <div class="Volunteering-experience">
            <h2>Progetti del Corpo Europeo di Solidarietà</h2>
            <div class="project-header">
                <h3>Rifugi di solidarietà, 2022</h3>
                <a th:href="@{/pdf/youthpassHun.pdf}" target="_blank">Youthpass</a>
            </div>
            <h4>Budapest, Ungheria</h4>
            <ul>
                <li>Rifugi di Solidarietà è stato un campo di volontariato in cui volontari internazionali hanno collaborato per creare programmi significativi in un campo estivo per bambini costretti a fuggire dall'Ucraina.</li>
                <li>organizzazione e animazione di giochi e attività sportive per i bambini</li>
                <li>lavorato in un team multiculturale per coordinare e organizzare attività coinvolgenti per i bambini</li>
            </ul>
        </div>

        <div class="Volunteering-experience">
            <div class="project-header">
                <h3>Flora della Finlandia, 2023</h3>
                <a th:href="@{/pdf/youthpassFin.pdf}" target="_blank">Youthpass</a>
            </div>
            <h4>Punkaharju, Finlandia</h4>
            <ul>
                <li>Svolgimento di compiti di manutenzione ambientale nel Parco Nazionale di Punkaharju, tra cui riordino, rimozione di piante invasive e assistenza in attività sportive comunitarie locali</li>
                <li>Lavoro in un team internazionale per preservare e migliorare il paesaggio naturale</li>
            </ul>
        </div>

        <div class="Volunteering-experience">
            <div class="project-header">
                <h3>Per la Natura e le Comunità, 2024</h3>
            </div>
            <h4>Aukštaitija, Lituania</h4>
            <ul>
                <li>Riparazione e ricostruzione di scalinate in legno sulla collina di Ladakalnis, un sito di rilevanza culturale nel Parco Nazionale di Aukštaitija</li>
                <li>Partecipazione ad attività di team building e collaborazione con volontari internazionali</li>
            </ul>
        </div>

    </div>

</div>