<div th:fragment = "homepageITA" th:if="${session.Language == 'Italian'}">
  <p>Attualmente sto conseguendo una laurea in Informatica presso l'Università degli Studi di Salerno,
    un dipartimento riconosciuto come Dipartimento di Eccellenza dal Ministero dell'Istruzione Italiano.
    Nell'ambito del mio percorso accademico, ho partecipato a un semestre Erasmus presso l'Universidade de Coimbra,
    dove ho studiato nel Dipartimento di Ingegneria Informatica. La mia esperienza include principalmente
    lo sviluppo di applicazioni web utilizzando Java come back-end e a breve la creazione di applicazioni mobili per Android.
  </p>
  <div class="technologies">
    <h3 >Tecnologie</h3>
    <ul>
      <li>Linguaggi di programmazione: Java, Kotlin, Python, C</li>
      <li>sviluppo web: HTML, CSS, JavaScript, Bootstrap, Thymeleaf, JSP, JSTL, MVC, TomCat</li>
      <li>Frameworks: Spring, Android SDK</li>
      <li>IDE: IntellijIdea, Android Studio, Eclipse</li>
      <li>Cloud: AWS</li>
    </ul>
  </div>

  <div class="languages">
    <h3>Lingue</h3>
    <ul>
      <li>Italiano: Madrelingua</li>
      <li>Inglese: C2 (Certificato da Cambridge Language Assesment)</li>
      <li>Portoghese: B1 (Certificato da Universidade de Coimbra)</li>
    </ul>
  </div>
</div>