<div th:fragment = "homepageITA" th:if="${session.Language == 'Italian'}">
  <p>Sono al momento uno studente della laurea triennale in Informatica presso Università degli studi di Salerno,
    un dipartimento che è stato dichiarato dipartimento di eccellenza dal ministero dell'istruzione italiano, durante i miei studi
    ho partecipato ad un semestre erasmus presso l'Universidade de Coimbra nel dipartimento di ingegneria informatica.
    Il mio lavoro consiste principalmente in applicazioni web costruite con java e applicazioni mobile per android.
  </p>

  <div class="technologies">
    <h3 >Tecnologie</h3>
    <ul>
      <li>Linguaggi di programmazione: Java, Kotlin, Python, C</li>
      <li>sviluppo web: HTML, CSS, JavaScript, Bootstrap, Thymeleaf, JSP, JSTL, MVC, TomCat</li>
      <li>Frameworks: Spring, Android SDK</li>
      <li>IDE: IntellijIdea, Android Studio, Eclipse</li>
      <li>Cloud: AWS</li>
    </ul>
  </div>

  <div class="languages">
    <h3>Lingue</h3>
    <ul>
      <li>Italiano: Madrelingua</li>
      <li>Inglese: C2 (Certificato da Cambridge Language Assesment)</li>
      <li>Portoghese: B1 (Certificato da Universidade de Coimbra)</li>
    </ul>
  </div>
</div>