<div th:fragment = "homepageITA" th:if="${session.Language == 'Italian'}">
  <p>Sono al momento uno studente della laurea triennale in Informatica presso Università degli studi di Salerno,
    un dipartimento che è stato dichiarato dipartimento di eccellenza dal ministero dell'istruzione italiano, durante i miei studi
    ho partecipato ad un semestre erasmus presso l'Universidade de Coimbra nel dipartimento di ingegneria informatica.
    Il mio lavoro consiste principalmente in applicazioni web costruite con java e applicazioni mobile per android.
  </p>

    <h3>Tecnologie</h3>
</div>