<div th:fragment = "projectsITA" th:if="${session.Language == 'Italian'}">
  <h1>Progetti</h1>
  <p>Qui trovate tutti i progetti su cui ho lavorato</p>

  <div class="project">
    <div class="project-header">
      <h2>Sito web personale</h2>
      <a href="https://github.com/Peppe-elefante/Personal-Website.git">Github Link</a>
    </div>
    <div class = "project-body">
      <ul>
        <li>Svillupato un sito web personale usando Java SpringBoot</li>
        <li>Implementato il front-end usando Thymeleaft</li>
        <li>Implementato il CSS della navbar usando Bootstrap</li>
        <li>Ospitato il sito web su un'istanza ECS2 su AWS Cloud</li>
      </ul>
    </div>
  </div>

  <div class="project">
    <div class="project-header">
      <h2>Sito E-commerce</h2>
      <a href="https://github.com/Peppe-elefante/TSW_Games.git" >Github Link</a>
    </div>
    <div class = "project-body">
      <ul>
        <li>Sviluppato sito di e-commerce con Java servlets</li>
        <li>Implementato front-end usando JSP e JSTL</li>
        <li>Integrato JavaScript per autenticazione e AJAX</li>
        <li>Gestito database MySQL</li>
      </ul>
      <img th:src="@{/images/TSWGames.png}" alt="E-commerce site" width="250" height="150">
    </div>
  </div>

  <div class="project">
    <div class="project-header">
      <h2>Database negozio animali</h2>
      <a href="https://github.com/Peppe-elefante/Pet-Shop-DB.git" >Github Link</a>
    </div>
    <ul>
      <li>Creato un database per un negozio di animali online</li>
      <li>capace di gestire efficientemente le richieste sia del proprietario del negozio che dei clienti.</li>
      <li>Usato PostgreSQL per il database e postmanAPI </li>
    </ul>
  </div>

  <br>
  <br>
  <p>Fine dei progetti</p>
  <br>
</div>