html{
    background-color: #DCDCDC;
    font-family: "Roboto", serif;
}

h1{
    color: #251D3A;
    text-align: center;
    margin-top: 15px;
    padding-bottom: 3px;
}

p{
    color: #2A2550;
    text-align: center;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

h2{
    color: #2A2550;
    text-align: center;
    margin-top: 0;
}

ul {
    padding-left: 0;
    margin-left: 0;
    list-style-position: inside;
}

h3{
    color: #E04D01;
    text-align: left;
    margin-top: 20px;
    padding-left: 50px;
}

.technologies li, .technologies ul{
    color: #FF7700;
    text-align: left;
    margin-top: 5px;
    padding-left: 25px;
}

.languages h3 {
    color: #B22A50;
    text-align: left;
    margin-top: 30px;
    padding-left: 50px;
}

.languages li, .languages ul {
    color: #EB3678;
    text-align: left;
    margin-top: 5px;
    padding-left: 25px;
}

.languages ul{
    padding-bottom: 50px;
}

.technologies, .languages{
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.nav-item {
    padding: 3px 10px;
}

.nav-item:hover {
    color: #4F1787
}

.dropdown-menu {
    background-color: #CC5F00; /* Custom background color */
    border: none; /* Remove border */
}

.dropdown-item {
    color: #000000; /* Custom text color */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.dropdown-item:hover {
    background-color: #FB773C; /* Hover background color */
    color: #FFFFFF; /* Hover text color */
}

.dropdown-item i {
    margin-right: 8px; /* Space between icon and text */
}