<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giuseppe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="icon" th:href="@{/images/Website_icon.ico}" type="image/x-icon">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <br>

    <div th:if="${session.Language == 'English'}">


            <h1>About me</h1>
            <p>Information about myself outside of projects and education</p>
        <div class="Interests">
            <h2>Interests</h2>
            <ul>
                <li>Training BJJ(Brazilian Jiu Jitsu)</li>
                <li>Volunteering</li>
                <li>Travelling</li>
                <li>Hiking</li>
            </ul>
        </div>

        <div class="Volunteering">
            <h1>Volunteering experiences</h1>

            <div class="Volunteering-experience">
                <h2>European Solidarity Corps projects</h2>
                <div class="project-header">
                    <h3>Shelters of solidarity, 2022</h3>
                    <a th:href="@{/pdf/youthpassHun.pdf}" target="_blank">Youthpass</a>
                </div>
                <h4>Budapest, Hungary</h4>
                <ul>
                    <li>Shelters of Solidarity was a volunteering camp where international volunteers worked together
                        to grant meaningful programmes in a summer camp for children who have been forced to flee Ukraine. </li>
                    <li>Organized and animated games and sports activities for the children</li>
                    <li>Worked in a multicultural team to coordinate and organize engaging activities for the children</li>
                </ul>
            </div>

            <div class="Volunteering-experience">
                <div class="project-header">
                    <h3>Flora of Finland, 2023</h3>
                    <a th:href="@{/pdf/youthpassFin.pdf}" target="_blank">Youthpass</a>
                </div>
                <h4>Punkaharju, Finland</h4>
                <ul>
                    <li>Flora of Finland was a volunteering project where volunteers did maintenace of Punkaharju national park </li>
                    <li>Did outdoors tasks related to nature, such as tidying the enviroment, removing invasive plants and assisting with a local community sports activity.</li>
                    <li>Collaborated with an international team to complete the tasks</li>
                </ul>
            </div>

            <div class="Volunteering-experience">
                <div class="project-header">
                    <h3>For Nature and Communities, 2024</h3>
                </div>
                <h4>Aukštaitija, Lithuania</h4>
                <ul>
                    <li>For nature and communities was a volunteering camp where a team of volunteers helped renew the infrastructure of Aukštaitija National Park</li>
                    <li>Did Teambuilding activities with International team</li>
                    <li>Removed and rebuilt old wooden staircase in culturally significant Ladakalnis hill</li>
                </ul>
            </div>
        </div>
    </div>

    <div th:replace="italiano/giuseppeITA :: giuseppeITA"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>